@font-face {
  font-family: '--legalized-dank';
  src: url("../../../fonts/ligaturized-DankMono-Regular.otf");
}

h1 {
  font-family: '--legalized-dank' !important;
}
p {
  font-family: '--fonts-Overpass-mono' !important;
}
