$inputTextColor: #000;
$inputBgColor: whitesmoke;

$defaultAnimation: all 0.3s ease-in-out;
$defaultTransition: all 0.2s ease-in-out;

$zIndexBG: -1;
$zIndexDefault: 1;
$zIndexOverlay: 2;
$zIndexModal: 3;
$zIndexDropdown: 4;

// TODO: Add variables for colors, fonts, etc
