.editorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  width: 50vw;
  min-width: 80vw;
}

.editor {
  width: 100%;
  .ql-editor {
    height: 60vh;
    border-radius: 5px;
    padding: 2%;
    font-size: 1rem;
    width: 100%;
    overflow: auto;
  }
}

.editor.light .ql-editor {
  background-color: rgba(241, 125, 177, 0.9);
}

.editor.dark .ql-editor {
  background-color: rgba(241, 125, 177, 0.9);
}

.ql-editor.ql-blank::before {
  content: attr(data-placeholder);
  color: #000;
  position: absolute;
  left: 5%;
  top: 15%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .editor.light {
    padding: 0;
  }
  .editor {
    .ql-editor {
      padding: 1rem;
    }
  }
  .editorContainer {
    width: 100%;
    padding: 0;
    min-width: none;
  }

  .editor {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
  }
}
