.editorContainer {
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}

.editor.light .ql-editor {
  background-color: white;
  font-size: 18px;
  color: black;
  line-height: 1.58;
  margin: 0;
  padding: 0;
}


.editor.dark .ql-editor {
  background-color: #333;
  font-size: 18px;
  color: white;
  line-height: 1.58;
  margin: 0;
  padding: 0;
}

.editor .ql-toolbar {
  display: flex;
  justify-content: center;
}

.editor.light .ql-toolbar {
  background-color: white;
}

.editor.dark .ql-toolbar {
  background-color: #333;
}

.editor .ql-toolbar .ql-formats {
  margin: 0;
  padding: 0;
  border: none;
}
