.ql-picker-item {
  font-size: 10px;
  padding: 5px 12px;
  cursor: pointer;
}

.ql-picker-item:hover {
  color: white;
}
.ql-picker-label {
  color: white;
}
.ql-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 50vw;
  background-color: #333;
  border-radius: 5px;
  padding: 5%;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.ql-toolbar.light {
  background-color: #fff;
}
.ql-toolbar.dark {
  background-color: #333;
}

