<<<<<<< HEAD
<<<<<<< HEAD
.menubar {
  height: 50px;
=======
@import "../../styles/variables.scss";
.component-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60%;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
  

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    .image-upload-container {
      border: 2px dashed;
      border-radius: 0.375rem;
      padding: 1rem;
      text-align: center;
      width: 40rem;
      margin-left: auto;
      margin-right: auto;
      width: 50vw;

      p {
        color: #6b7280;
      } 
    }
    .upload-label {
       margin-top: 0.5rem; 
      color: #6b7280;
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        color: #374151;
      }
    }
    .sr-only {
      position: absolute;
      visibility: hidden;
    }

    .submit-button {
      width: 8rem;
      height: 2.25rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
>>>>>>> 750069c (Development (#3))
=======
@import "../../styles/variables.scss";
.component-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  

  .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60%;
    border-radius: 0.375rem;
    margin-left: auto;
    margin-right: auto;
  

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    .image-upload-container {
      border: 2px dashed;
      border-radius: 0.375rem;
      padding: 1rem;
      text-align: center;
      width: 40rem;
      margin-left: auto;
      margin-right: auto;
      width: 50vw;

      p {
        color: #6b7280;
      } 
    }
    .upload-label {
       margin-top: 0.5rem; 
      color: #6b7280;
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        color: #374151;
      }
    }
    .sr-only {
      position: absolute;
      visibility: hidden;
    }

    .submit-button {
      width: 8rem;
      height: 2.25rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
=======
.menubar {
  height: 50px;
>>>>>>> origin/development
>>>>>>> db890bdbcf485d92c4189197418e6c716a97a7c0
}
